/*Comentario*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{

    width: 100vw;
    font-family:'Times New Roman', Times, serif;

}

/* Header*/

.header__container{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color:#77b2cf;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.421);
    border: none;
    text-align: center;
    z-index: 2;

}
.header__container ul li a:hover{
    color: #1071cb;
    font-size: 18px;
}
.header__container ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    line-height: 60px;
    list-style: none;
}
.header__container ul li a:hover{
    color: #1071cb;
    font-size: 18px;
}


.header__container ul li a{
    text-decoration: none;
    color:black;
    font-size: 16px;
    text-transform: uppercase;
    font-weight:900;
    transition: all 0.2s;
    text-align: center;

}

.header__container ul li .container__logo{
    padding: 10px;
    position:fixed;
    top:0;
    left: 0;
    width: 150px;
    justify-content: center;
    border-radius: 70%;
}

/*banner*/

.banner{
height: 100vh;
display: grid;
place-items:center ;
text-align: center;
background-image: url(../img/reparacion.png);
background-color: white;
background-size: cover;
background-position: center center;/* posiciona las letras en el centro de l imagen y la imagen se centra siempre*/
position: relative;

}
.banner__text{
    z-index: 1;
}

.banner::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(69, 44, 44, 0.5);
}
.banner__text h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(246, 98, 125);
    font-size: 45px;
}
.banner__text h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    color:white;
    font-size: 30px;

}
.banner__text p{
    color:#87f9f3;
    padding: 60px;
    font-size: 25px;
}

/*historia*/
.Historia{
    padding-top: 30px;
    background-color: #b5e3e6;
}
.Historia h2{
    font-size: 45px;
    font-family: cursive;
    text-align: center;
}
.Historia p{
    text-align: center;
    padding: 20px;
    font-size: 20px;
    font-family:monospace;
}

section{
    background-color: #b5e3e6;
}
.section-header h2{
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    text-transform: uppercase;
}
/*servicios */

.contact{
    padding: 40px;
    display:grid;
}

.service-content2{

    display:flex;
    text-align: center;
    justify-content:space-around;
    margin: auto;
    list-style: none;

}
.single-service1 img{
display: inline-block;
text-align: center;
margin:auto;
padding: 10px;
max-width: 30vmax;
height: 200px; 
box-sizing:content-box;
justify-content:space-between;
align-items:center;
border-radius: 80%;
}
.single-service1 img:hover{
    filter: brightness(70%);
    background-color:#4cc3d5;
}

.single-service1 h2{
    text-align: center;
    padding: 20px;
}
.single-service1 h2:hover{
    color: #150c8e;
    font-size: 20px;
}

.single-service1 p{
    font-size: 18px;
    text-align:left;
    padding: 10px;
    
}
.single-service1 .nav-list1 li{
    margin-left: 70px;
}
  /* contact */

.contact{
    padding: 60px 0;
    text-align: center;
}
.single-contact{

    display: flex;
    flex-direction:column;
    margin:auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}
.section-header3 h2{
    font-size: 40px;
}
.section-header3 p{
    padding: 20px;
    font-size: 25px;
    gap: 30px;
    text-align: center;
}
.single-contact input{
    width: 45%;
    height: 40px;
    margin: 7px;
    border: none;
    border-bottom:3px solid rgb(99, 99, 110) ;
}
.single-contact textarea{
    width: 40%;
    height: 200px;
    margin: 7px;
    border: none;
    border-bottom:3px solid  rgb(99, 99, 110) ;
    border-bottom-right-radius: 15%;
    }

.single-contact input:last-child{
        width: 20%;
        height: 40px;
        margin: 7px;
        border: none;
        background-color: #04e844;
        color: black;
    }
.single-contact input:last-child:hover{
background-color: #e31d6f;

    }

    /*comentario*/
    .contact4{
        padding: 60px ;
        text-align: center;
    }
.single-contact4{
        display: flex;
        padding: 30px;
        flex-direction:row;
        margin:auto;
        width: 100%;
        justify-content: center;
        align-items: center;
        
    }
.section-header4 h2{
        font-size: 30px;
        padding-bottom: 30px;
    }
.section-header3 p{
        padding: 10px;
        font-size: 30px;
        text-align: center;
    }
.single-contact4 input{
        width: 20%;
        height: 40px;
        margin: 10px;
}

.single-contact4 textarea{
        width: 30%;
        height: 50px;
        margin: 7px;
        border: none;
        border-bottom:3px solid  rgb(99, 99, 110) ;
        border-bottom-right-radius: 15%;
    
        }
    
.single-contact4 input:last-child{
        width: 8%;
        height: 40px;
        margin: 7px;
        border: none;
        background-color: #04e844;
        color: black;
        } 
.single-contact4 input:last-child:hover{
        background-color: #9717d2;
    }
footer{
    background-color: #2e9fd7;
    color: aliceblue;
    height: 145px;
    text-transform:capitalize;
}

footer .container__logo2{
    width: 150px;
    border-radius: 70%;
}
footer .container__social{
    padding: 15px;
    width: 80px;
    height: 60px;
    justify-content:right;
    
}


@media screen and (max-width: 700px) {

    .header__container{
        background-color: #c69af3;
        border: none;
        height: 50px;
        text-align: center;
        z-index: 2;
    }
    .header__container ul li a{
        text-decoration: none;
        color:black;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 600;
        transition: all 0.2s;
        text-align: center;
    
    }
    .banner{
            height: 90vh;
            display: grid;
            place-items:center ;
            text-align: center;
            background-image: url(../img/reparacion.png);
            background-color: white;
            background-size: cover;
            background-position: center center;/* posiciona las letras en el centro de l imagen y la imagen se centra siempre*/
            position: relative;
        }
        .banner::before{
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(24, 23, 23, 0.5);
        }
        .banner__text h1{
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color:rgb(246, 98, 125);
            margin-top: 70px;
            font-size: 30px;
            gap: 20px;
        }
        .banner__text h2{
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color:white;
            font-size: 20px;
        
        }
        .banner__text p{
            color:rgb(191, 42, 237);
            font-weight: 900;
            font-size: 20px;
            margin: 1px;
            z-index:1;
        }
        .Historia{
            background-color: #a39eed;
        }
        .Historia h2{
            font-size: 36px;
            font-family: cursive;
            text-align: center;
        }
        .Historia p{
            text-align: center;
            padding: 16px;
            font-size: 20px;
        }
    /*nuestros servicios*/
        section{
            background-color: #a39eed;
            color:white;
        }
    
        .section-header h2{
            text-align:center;
            justify-content: center;
            font-size: 35px;
        }
        .service-content2{
            display: flexbox;
            flex-direction: column;
        }
        .single-service1 img{
            display:flex;
            text-align: center;
            padding: 10px;
            max-width: 200vmax;
            height: 200px; 
            justify-content:space-between;
            align-items:center;
            }
            .single-service1 h2{
                text-align: center;
                padding: 10px;
            }
            .single-service1 p{
                font-size: 18px;
                text-align:center;
                padding: 10px;
                
            }
            .single-service1 .nav-list1 li{
                list-style: none;
                margin-left:auto;
            }






















            
    /* .abrir-menu
    .cerrar-menu {
       width: 30px;
       height: 30px;
       position:absolute;
       top:50%;
       left:50%;
       transform: translate(-50%, -50%) scale(6);
       cursor: pointer;
    
    }
    .abrir-menu 
    .cerrar-menu span {
        display: flex;
        width: 100%;
        height: 2px;
        background-color: #5617ae;
        margin: 7px;
        transition: 200ms;
    }
  
     */
/*     .
    
        .abrir-menu,
        .cerrar-menu {
            display: block;
            border: 0;
            font-size: 1.25rem;
            background-color: transparent;
            cursor: pointer;
            z-index: 200;
            width: 40px;
            height: 40px;
            flex-direction: column; /* Pondrá un span debajo del otro*/
            /* align-items: center;
            justify-content: center;

        }
    
        .abrir-menu {
            color: #1c1c1c;
            
        }
    
        .cerrar-menu {
            color: #ececec;
        }
    
        .nav {
            width:220px;
            opacity: 0;
            visibility: hidden;
            display: flex;
            flex-direction: column;
            align-items: end;
            gap: 1rem;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: #1c1c1c;
            padding: 2rem;
            box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        }
    
        .nav.visible {
            opacity: 1;
            visibility: visible;
        }
        
        .nav-list {
            flex-direction: column;
            align-items: end;
            justify-content: flex-start;
        }
    
        .nav-list li a {
            color: #ecececec;
        } */
    }
    
